@charset "utf-8";
/* CSS Document */
body {
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4,Verdana,Helvetica,Arial,sans-serif;
	}
a{
 outline: none; /* for Firefox */
 text-decoration: none;
/* hlbr:expression(this.onFocus=this.blur()); *//* for IE */
}

h1{
	height:5px;
	background:#00a0e9;
	}
.unclassified{
	min-height:80px;
	background:url(../images/upcover.png) repeat;
	-webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.12);
	padding:30px 30px 0px 80px;
	}
.unclassified ul{min-height:60px;}
.unclassified ul li{
	margin-bottom:8px;
	font-size:13px;
	}
.unclassified ul li img{
	width:16px;
	height:16px;
	margin-right:8px;
	vertical-align:bottom;
	}
.unclassified ul li.time{
/*	color:#ababab;
	border-bottom:1px #ababab solid;*/
	color:#00a0e9;
	border-bottom:1px #00a0e9 solid;
	width:60%;
	}
a.closeup{
	display:block;
	margin:30px auto 0px auto;
	width:116px;
	height:27px;
	background:url(../images/closeup02.png) no-repeat;
	}
.classified{
	padding:30px 30px 30px 80px;
	overflow:hidden;
	}
.graybox{
	float:left;
	background:#2d2f31;
	width:330px;
	/*min-height:297px;*/
	margin-right:28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.5);
	font-size:14px;
	letter-spacing:1px;
	margin-right:28px;
	}
.whitebox{
	float:left;
	background:#00a0e9;
	width:330px;
	/*min-height:297px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-box-shadow: 0px 5px 8px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:    0px 5px 8px rgba(50, 50, 50, 0.17);
	box-shadow:         0px 5px 8px rgba(50, 50, 50, 0.17);
	font-size:14px;
	letter-spacing:1px;
	margin-right:28px;
	}
.graybox .title{
	width:310px;
	height:51px;
	padding:33px 10px 0 10px;
	border-bottom:1px #00a0e9 solid;
	color:#00a0e9;
	}
.whitebox .title{
	width:310px;
	height:51px;
	padding:33px 10px 0 10px;
	border-bottom:1px #118ac2 solid;
	color:#FFF;
	}
.graybox h2, .whitebox h2{
	text-align:center;
	}
.graybox ul.classifiedlist li{
	clear:both;
	overflow:hidden;
	padding:10px 10px;
	border-bottom:1px #00a0e9 solid;
	background:#333537;
	}
ul.classifiedlist li img{
	width:56px;
	height:60px;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	margin-right:12px;
	}
.whitebox ul.classifiedlist li{
	clear:both;
	overflow:hidden;
	padding:10px 10px;
	border-bottom:1px #00a0e9 solid;
	background:#8bc1ef;
	}
.text{
	width:236px;
	float:left;
	}
.graybox .text h3{
	font-size:13px;
	color:#f5f5f5;
	margin-bottom:12px;
	}
.graybox .text p{
	font-size:12px;
	color:#b0b1b2;
	line-height:1.2;
	}
.whitebox .text h3{
	font-size:13px;
	color:#333537;
	margin-bottom:12px;
	}
.whitebox .text p{
	font-size:12px;
	color:#6c6c6c;
	line-height:1.2;
	}
.upbox{
	clear:both;
	overflow:hidden;
	height:92px;
	min-width:368px;
	max-width:580px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	background:url(../images/floatboxbg.png) repeat;
	padding:10px;
	}
.upbox img{
	width:56px;
	height:60px;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	margin-bottom:10px;
	margin-right:12px;
	}
.up_text{
	width:490px;
	float:left;
	}
.up_text h3{
	font-size:13px;
	color:#f5f5f5;
	margin-bottom:12px;
	}
.up_text  p{
	font-size:12px;
	color:#b0b1b2;
	line-height:1.2;
	}
.delete{
	clear:both;
	display:block;
	width:14px;
	height:14px;
	padding:6px;
	background:#dc513a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	}
.delete span{
	display:block;
	width:14px;
	height:14px;
	background:url(../images/cross.png) no-repeat; 
	cursor:pointer;
	}
a.deletetext{
	clear:both;
	display:block;
	width:50px;
	color:#00a0e9;
	text-decoration:none;
	font-size:13px;
	}
a.deletetext:hover{
	color:#FFF;
	}
.item-cont {
	
}

.operation {
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px solid #00a0e9;
}

.btn {
	cursor: pointer;
}